@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #121321;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    perspective: 1000px;
}

section::before{
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    transform: translate(-190px, -120px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);   
}
section::after{
    content: "";
    position: absolute;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    transform: translate(190px, 120px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);   
}

.container{
    position: relative;
    width: 450px;
    height: 260px;
    z-index: 100;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.container:hover{
    transform: rotateY(180deg);
}

.container .card{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 25px 20px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backface-visibility: hidden;
}

.front-face header,
.front-face .logo{
    display: flex;
    align-items: center;
}

.front-face header{
    justify-content: space-between;
}

.front-face .logo img{
    width: 60px;
    margin-right: 10px;
}

.front-face .logo h5{
    font-size: 20px;
    font-weight: 400;
}

.front-face .chip{
    width: 50px;
}

.front-face .card-details{
    display: flex;
    margin-top: 40px;
    align-items: flex-end;
    justify-content:space-between;
}

h6{
    font-size: 14px;
    font-weight: 400;
}

.number{
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 400;
}

.name{
    font-size: 18px;
    margin-top: 20px;
    font-weight: 400;
}

.back-face{
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}

.back-face h6{
    font-size: 8px;
}

.magnetic-strip{
    position: absolute;
    top: 40px;
    left: 0;
    height: 50px;
    width: 100%;
    background: #000;
}

.signature{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient( #fff, #fff 3px, #efefef 0px, #efefef 9px);
}

.signature i{
    color: #000;
    font-size: 14px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: -30px;
    z-index:-1;
}

.back-face h5{
    font-size: 10px;
    font-weight: 400;
    margin-top: 15px;
}