*{
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card_container{
    width: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px gray;
    position: relative;
}
.card_head{
    text-align: center;
    background-color: rgb(47, 47, 252);
    border-radius: 20px 20px 0px 0px;
}
.card_head img{
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: -30px;
    border: 5px solid rgb(47, 47, 252);
}


.card_body{
    margin-top: 40px;
    text-align: center;
}
.heading{
    line-height: 10px;
}
.heading h2{
    font-weight: 400;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
}
.socials i{
    font-size: 30px;
}

.icon_fb{
    color: blue;
}
.icon_x{
    color: rgb(46, 181, 249);
}
.icon_in{
    color: rgb(244, 6, 149);
}
.icon_yt{
    color: red;
}

.button{
    background-color: rgb(22, 22, 251);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 8px 15px;
    margin: 0px 10px;
}


.right_border{
    border: 2px solid rgb(193, 191, 191);
    border-radius:1px;
    height: 20px;
}

.card_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 35px;
}