*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main_box{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(19, 120, 23);
}

#check{
    display: none;
}

.check_mark{
    font-size: 40px;
    cursor: pointer;
}

.side_bar{
    background-color: yellowgreen;
    position: absolute;
    top: 0px;
    left: -300px;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.5s;
}

.side_bar span{
    display: flex;
    justify-content: space-between;
}

.sidebar_heading{
    align-items: flex-start;
    font-size: 40px;
}

.btn_one{
    background-color: white;
    color: black;
    padding: 0px 10px;
    border-radius: 5px;
    width: 42px;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.btn_two{
    align-self: flex-end;
    background-color: white;
    color: black;
    padding: 0px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#check:checked ~.side_bar{
    left: 0px;
}

#check:checked ~.btn_one{
    opacity: 0;
}

#check:checked ~.btn_two{
    opacity: 1;
}

ul{
    position: relative;
    top: 20px;
}

li{
    list-style: none;
    font-size: 20px;
    padding: 10px 6px;
    border: 1px solid green;
    margin-top: 10px;
}

