@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
  padding: 20px;
}

.form-container {
  width: 360px;
  height: auto;
  border: none;
  background-color: #fff;
  border-radius: 10px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #16a085;
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.heading h2{
    padding: 20px 0px;
    font-size: 30px;
    font-weight: 500;
}

form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.row{
    width: 100%;
    margin-top: 20px;
    position: relative;     
}

.row i{
    background-color: #16a085;
    color: #fff;
    height: 40px;
    padding: 10px;
    position: absolute;
    border-radius: 5px 0 0 5px;
}

.row input{
    width: 100%;
    height: 40px;
    padding-left: 40px;
    margin-left: 5px;
    outline: none;   
    border: 2px solid rgba(67, 66, 66, 0.233);
    border-radius: 5px;
}

.row input:focus{
    border-color: #1abc9c;
    box-shadow: inset 0px 0px 2px 2px #1abc9c44;
}

.button{
    padding-left: 0px !important;
    background-color: #16a085;
    color: #fff;
    border: none !important;
    border-radius: 5px;
    font-size: 17px;
}

.forgotPass,
.signUp{
    margin-top: 10px;
}

.forgotPass a{
    color: #1abc9c;
    text-decoration: none;
}

.forgotPass a:hover{
    text-decoration: underline;
}

.signUp a{
    color: #1abc9c;
    text-decoration: none;
}

.signUp a:hover{
    text-decoration: underline;
}
